@import 'functions.scss';

body {
  margin-top: 5px;
}

.top-line {
@include top-line
}

.drip {
    @include drip;
    animation-play-state: paused;
  }
  
  .drip1 {
    left: 20%;
    animation: drip1 6s linear forwards;
    animation-delay: calc(var(--scroll) * -5s);
  }
  
  .drip2 {
    left: 30%;
    animation: drip2 4s linear forwards;
    animation-delay: calc(var(--scroll) * -1s);
  }
  
  .drip3 {
    left: 40%;
    animation: drip3 5s linear forwards;
    animation-delay: calc(var(--scroll) * -1s);
  }
  
  .drip4 {
    left: 50%;
    animation: drip4 1s linear forwards;
    animation-delay: calc(var(--scroll) * -1s);
  }
  
  .drip5 {
    left: 60%;
    animation: drip5 4s linear forwards;
    animation-delay: calc(var(--scroll) * -1s);
  }
  
  .drip6 {
    left: 70%;
    animation: drip6 4s linear forwards;
    animation-delay: calc(var(--scroll) * -1s);
  }
  
  .drip7 {
    left: 80%;
    animation: drip7 4s linear forwards;
    animation-delay: calc(var(--scroll) * -1s);
  }
  
  .drip8 {
    left: 90%;
    animation: drip8 9s linear forwards;
    animation-delay: calc(var(--scroll) * -1s);
  }
  
  .drip9 {
    left: 95%;
    animation: drip9 4s linear forwards;
    animation-delay: calc(var(--scroll) * -1s);
  }
  
  .drip10 {
    right: 90%;
    animation: drip10 2s linear forwards;
    animation-delay: calc(var(--scroll) * -1s);
  }
  
  @keyframes drip1 {
    0% {
      height: 0%;
    }
    100% {
      height: 650px;
    }
  }
  
  @keyframes drip2 {
    0% {
      height: 0%;
    }
    100% {
      height: 405px;
    }
  }
  
  @keyframes drip3 {
    0% {
      height: 0%;
    }
    100% {
      height: 500px;
    }
  }
  
  @keyframes drip4 {
    0% {
      height: 0%;
    }
    100% {
      height: 320px;
    }
  }
  
  @keyframes drip5 {
    0% {
      height: 0%;
    }
    100% {
      height: 250px;
    }
  }
    
    @keyframes drip6 {
      0% {
        height: 0%;
      }
      100% {
        height: 650px;
      }
    }
    
    @keyframes drip7 {
      0% {
        height: 0%;
      }
      100% {
        height: 600px;
      }
    }
    
    @keyframes drip8 {
      0% {
        height: 0%;
      }
      100% {
        height: 480px;
      }
    }
    
    @keyframes drip9 {
      0% {
        height: 0%;
      }
      100%{ 
          height: 600px;
      }
    }
    @keyframes drip10 {
      0% {
        height: 0%;
      }
      100%{ 
          height: 200px;
      }
    }
    .drip-container {
        height: 100%;
        overflow: hidden;
      }
      
      .drip-container.animate .drip {
        height: 90%;
        animation: drip 6s linear infinite;
      }
      
      @keyframes drip {
        0% {
          height: 0;
        }
        100% {
          height: 90%;
        }
      }
      .drip-container {
        height: 100%;
        position: relative;
        overflow: hidden;
      }
      
      .drip-container.animate .drip {
        height: 90%;
        animation-play-state:running ;
      }
      
      @keyframes drip {
        0% {
          height: 0;
        }
        100% {
          height: 90%;
        }
      }
      .drip-container {
        height: 100%;
        position:relative;
        z-index: 1;
        overflow: hidden;
      }
      
      .drip-container.animate .drip {
        height: 90%;
        animation: drip 6s linear infinite;
      }
      
      @keyframes drip {
        0% {
          height: 0;
        }
        100% {
          height: 90%;
        }
      }

p {
  font-size: 64px;
  text-align: center;
  color: rgb(104, 104, 231);
}

h2 {
  font-size: 64px;
  text-align: center;
  color: rgb(0, 0, 0);
}

h1 {
  @include h1-style
}    

.image-container {
  @include image-layout
}

#placeholder {
  height: 350px;
}

.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in.visible {
  opacity: 1;
}

@keyframes fadeAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in-on-scroll {
  opacity: 0;
  transition: opacity 0.24s ease-in-out;
}

.fade-in-on-scroll.visible {
  opacity: 1;
}


$primary-color: #333;
$hover-color: #111;

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $primary-color;

  li {
    float: left;

    a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;

      &:hover {
        background-color: $hover-color;
      }
    }
  }
}
button {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $primary-color;
  color:white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: none;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
}

button:hover {
  background-color: $hover-color;
}

$back-to-top-arrow-size: 60px;
$back-to-top-arrow-color: rgb(255, 255, 255);
$back-to-top-arrow-background-color: rgb(99, 167, 61);
$back-to-top-arrow-hover-background-color: rgb(44, 82, 26);
$back-to-top-arrow-transition-duration: 0.3s;

#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: $back-to-top-arrow-size;
  height: $back-to-top-arrow-size;
  background-color: $back-to-top-arrow-background-color;
  color: $back-to-top-arrow-color;
  text-align: center;
  line-height: $back-to-top-arrow-size;
  cursor: pointer;
  transition: background-color $back-to-top-arrow-transition-duration;
}

#back-to-top:hover {
  background-color: $back-to-top-arrow-hover-background-color;
}

#back-to-top span {
  display: block;
  font-size: 12px;
  line-height: 1;
}